.centered-items tr > td{
      text-align: center;
      }
.centered-head tr > th{
        text-align: center;
    }
.search-position{
	margin-top: 2% ;
 }
.nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus{
color: black !important;
}